@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add a new recipe</h2>
  <div class="main">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(m => m.Name)
      @Html.TextBoxFor(m => m.Name, new { @required="true"})

      @Html.LabelFor(m => m.Ingredients)
      @Html.TextAreaFor(m => m.Ingredients, new { @required="true"})

      @Html.LabelFor(m => m.Instructions)
      @Html.TextAreaFor(m => m.Instructions, new {@required="true"})

      @Html.Label("Select tag: ")
      @Html.DropDownList("TagId", string.Empty)


      <input type="submit" value="Add new recipe" class="btn btn-submit" />
    }
</div>

