<ul class="menu">
  <li>@Html.ActionLink("Home", "Index", "Home")</li>
  <li>@Html.ActionLink("See all recipes", "Index", "Recipes")</li>
  <li>@Html.ActionLink("See all tags", "Index", "Tags")</li>
  <li>@Html.ActionLink("Add new recipe", "Create", "Recipes")</li>
  <li>@Html.ActionLink("Add new tag", "Create", "Tags")</li>
  <li>@Html.ActionLink("Create an Account", "Index", "Account")</li>
  <li>@Html.ActionLink("Log in", "Login", "Account")</li>  
  <li> @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" value="Log out" />
    }</li> 
</ul>
